body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	font-size: 24px;
	font-weight: bold;
}

.hero {
	background-image: url('https://via.placeholder.com/1500x800');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}

.hero h1 {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #fff;
}

.hero p {
	font-size: 24px;
	margin-bottom: 40px;
	color: #fff;
}

.featured-products {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 50px 0;
}

.featured-products h2 {
  margin-bottom: 30px;
}

.card {
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-right: 20px;
  width: 300px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.newsletter {
	background-color: #f6f6f6;
	padding: 100px 0
